{{- if .Values.logging.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "django-app.fullname" . }}-fluentbit
  namespace: {{ .Release.Namespace }}
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush         1
        Log_Level     info
        Daemon        off
        Parsers_File  /fluent-bit/etc/parsers.conf
        HTTP_Server   On
        HTTP_Listen   0.0.0.0
        HTTP_Port     2020
    
    [INPUT]
        Name              tail
        Tag               kube.*
        Path              /var/log/containers/*{{ include "django-app.name" . }}*.log
        Parser            docker
        DB                /var/log/fluentbit-state/{{ include "django-app.name" . }}.db
        Mem_Buf_Limit     5MB
        Skip_Long_Lines   On
        Refresh_Interval  10
    
    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_URL            https://kubernetes.default.svc:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
        Kube_Tag_Prefix     kube.var.log.containers.
        Merge_Log           On
        Merge_Log_Key       log_processed
        K8S-Logging.Parser  On
        K8S-Logging.Exclude Off
    
    [OUTPUT]
        Name            loki
        Match           *
        Host            loki.monitoring.svc.cluster.local
        Port            3100
        Labels          {job="{{ include "django-app.name" . }}", namespace="{{ .Release.Namespace }}"}
        Label_keys      $kubernetes['namespace_name'], $kubernetes['pod_name'], $kubernetes['container_name']
        Remove_keys     $kubernetes
        Auto_kubernetes_labels off
{{- end }}
